.card_container_single{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card_single{
    font-family: "Bebas Neue", sans-serif;
    border: 1px solid #ccc;
    height: 100%;
    padding: 10px;

    a{
        font-size: medium;
        text-decoration: none;
        font-family: "Bebas Neue", sans-serif;
    }    
}

.name h1{
    margin-left: 10px;
    font-weight: 200;
    color: #b85656;
    font-family: 14px;
}

.job_title{
    font-family: "Bebas Neue", sans-serif;   
    color: #26375b;
    font-family: 12px;
    margin-left: 10px;
}

.pfp img{
    width: 100%;
    height: auto;
}