h1{

    margin-left: 10px;
    font-weight: 300;
    color: #b85656;
    font-size: medium;
    font-family: "Bebas Neue", sans-serif;
}

p{
    margin-left: 10px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 14px;
}